<div class="kira-posts">
    <% page.posts.each(function (page) { %>
        <div class="kira-post">
            <a href="<%- url_for(page.path) %>">
                <% if (page.cover){ %>
                <div
                    class="kira-post-cover mdui-ripple"
                    style="padding-bottom: '<%= theme.background.height / theme.background.width * 100 %>%'"
                >
                    <img
                        data-src="<%- page.cover %>"
                        data-sizes="auto"
                        alt="<%= page.title %>"
                        class="lazyload kira-post-cover-image"
                    />
                    <h1><%= page.title %></h1>
                </div>
                <%} else{ %>
                <div
                    class="kira-post-cover mdui-ripple"
                    style="padding-bottom: '<%= theme.background.height / theme.background.width * 100 %>%'"
                >
                    <img
                        data-src="<%- theme.background.path %>"
                        data-sizes="auto"
                        alt="<%= page.title %>"
                        class="lazyload"
                    />
                    <h1><%= page.title %></h1>
                </div>
                <% } %>
            </a>

            <div class="kira-post-meta kira-rainbow">
                <a>
                    <i class="kirafont icon-calendar-fill"></i>
                    <%- date(page.date, "YYYY年MM月DD日") %>
                </a>
                <a>
                    <i class="kirafont icon-edit-fill"></i>
                    <%= wordcount(page.content) %> 字
                </a>
                <a>
                    <i class="kirafont icon-time-circle-fill"></i>大概
                    <%= min2read(page.content, {cn: 250, en: 160}) %> 分钟
                </a>
            </div>
    
            <% if(page.excerpt) {%>
                <article>
                    <%- image_auto_lazyload(page.excerpt) %>
                </article>
            <% } %>
        </div>
        <div class="kira-hr"></div>
    <% }) %>
</div>
<% if (page.total > 1){ %>
    <div class="kira-page-nav">
        <%- paginator({
            prev_text: '<i class="kirafont icon-left"></i>',
            next_text: '<i class="kirafont icon-right"></i>',
            escape: false
        }) %>
    </div>
<% } %>